@{
    ViewData["Title"] = "Consulta Clinica";
}

<html>
    <head>
         <meta charset="utf-8" />
    </head>
    <body style="background-color: rgb(133, 184, 181)">
        <br>        
         
        <a class="btn btn-success" href="/Consultorio/CadastroCliente" >Cadastro de Cliente</a>
        
        <a class="btn btn-success" href="/Consultorio/ListaCliente"  >Lista de Clientes</a>

        <a class="btn btn-success" href="/Consultorio/MarcarConsulta" >Marcar Consulta</a>

        <a class="btn btn-success" href="/Consultorio/ConsultaMarcada" >Lista de Consultas Marcadas</a>
        
    </body>
</html>