@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: rgb(133, 184, 181)">
<div class="text-center">
    <br>
    <br>
    <br>
    <h1 class="display-4">Bem Vindo</h1>
    <p>Acesso restrito apenas para funcionários e sócios.</p>
    <br>
    <br>
    
    <a class="btn btn-success" href="Home/CadastroFuncionario">Cadastrar Funcionário</a>
</div>
</body>
